# Compiled class file
*.class

# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Virtual machine crash logs, see http://www.java.com
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.next
pom.xml.bak
pom.xml.versions
pom.xml.stacktrace
maven-eclipse.xml
maven-compiler-plugin-surefire.xml
maven-status
apidocs/
surefire-reports/
target/content-test/

# Gradle
.gradle/
build/

# Eclipse
.classpath
.project
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Mac
.DS_Store
